
  <h3>Import a Certification Category CSV File</h3>
  <%= form_tag import_certification_categories_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>