<p>
  <strong>Certificationcategory:</strong>
  <%= @contractor.certification_category.certificationCategory %>
</p>

<p>
  <strong>Microdiscount:</strong>
  <%= @contractor.certification_category.microDiscount %>
</p>