<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_trade_path(@trade),class:"btn btn-default" %> |
<%= link_to 'Back', trades_path ,class:"btn btn-default"%>
<p>
  <strong>Name:</strong>
  <%= @trade.name %>
</p>


